@font-face {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  src: url("/fonts/IBMPlexSans-Regular.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: url("/fonts/IBMPlexSans-Medium.ttf"); }
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url("/fonts/HelveticaNeue-Medium.ttf"); }
@font-face {
  font-family: 'BebasNeue';
  font-weight: normal;
  src: url("/fonts/BebasNeue-Regular.ttf"); }
body {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  color: black;
  /* overflow: hidden; */ }

#hero-section {
  width: 100%;
  height: 636px;
  color: white; }
  #hero-section .hero-image {
    width: 100%;
    height: 636px;
    object-fit: cover;
    object-position: center; }
  #hero-section .hero-big-text {
    font-size: 68px;
    text-transform: uppercase;
    margin-top: 170px;
    font-family: 'BebasNeue';
    font-weight: normal; }
  #hero-section .hero-small-text {
    font-size: 27px;
    margin-top: 8px;
    padding-left: 0px; }
  #hero-section .thin-vertical-line {
    width: 1px;
    height: 89px;
    border: solid 1px #ffffff;
    margin-left: -10px;
    margin-top: 135px; }

#blog-content {
  height: auto;
  padding-top: 143px;
  font-weight: normal;
  margin-bottom: 193px; }
  #blog-content .article-type-1 {
    width: 99%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 10px 13px 8px rgba(0, 0, 0, 0.06);
    padding-top: 16px;
    padding-left: 30px;
    height: 455px;
    padding-bottom: 10px;
    margin-bottom: 61px;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    #blog-content .article-type-1 .author-img {
      width: 43px;
      height: 43px;
      background-color: #d8d8d8;
      border-radius: 50px; }
    #blog-content .article-type-1 .article-title {
      font-size: 24px;
      color: #1f1f1f;
      margin-top: 14px; }
    #blog-content .article-type-1 .article-short-content {
      line-height: 1.4;
      color: #53585d;
      font-family: helvetica;
      font-size: 14px;
      font-weight: normal;
      margin-top: 9px; }
    #blog-content .article-type-1 .article-img {
      width: 100%;
      height: 121px;
      object-fit: cover;
      object-position: center;
      margin-top: 15px; }
    #blog-content .article-type-1 .thin-divider {
      width: 100%;
      height: 3px;
      background: #eaebee;
      margin-top: 47px; }
    #blog-content .article-type-1 .article-type {
      margin-bottom: 14px;
      margin-top: 12px;
      font-family: Helvetica;
      font-size: 11px;
      color: #93979f;
      font-weight: normal; }
      #blog-content .article-type-1 .article-type span {
        margin-right: 10px; }
  #blog-content .article-type-1:hover {
    margin-top: -20px;
    box-shadow: 0 10px 20px 16px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease-in-out; }

.color-black {
  color: #53585d; }

@media screen and (max-width: 1500px) {
  .col-lg-8 {
    width: 80%; }

  .col-lg-offset-2 {
    left: -5%; }

  #blog-content .article-type-1:hover {
    margin-top: 0px;
    box-shadow: 0 10px 30px 16px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease-in-out; } }
@media screen and (max-width: 1200px) {
  .col-lg-offset-2 {
    left: 2.5%; } }
@media screen and (max-width: 1000px) {
  .col-lg-8 {
    width: 90%; }

  .col-lg-offset-2 {
    left: 2%; } }
@media screen and (max-width: 900px) {
  .col-lg-8 {
    width: 90%; }

  .col-lg-offset-2 {
    left: 5%; } }
@media screen and (max-width: 500px) {
  .col-lg-8 {
    width: 100%; }

  .col-lg-offset-2 {
    left: 0%; } }

/*# sourceMappingURL=blog.css.map */
