@font-face {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  src: url("/fonts/IBMPlexSans-Regular.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: url("/fonts/IBMPlexSans-Medium.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 300;
  src: url("/fonts/IBMPlexSans-Light.ttf"); }
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url("/fonts/HelveticaNeue-Medium.ttf"); }
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 200;
  src: url("/fonts/HelveticaNeue Light.ttf"); }
body {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  color: black;
  /* overflow: hidden; */ }

#calculator-section {
  padding-top: 119px;
  width: 28%;
  margin-left: 36%;
  padding-bottom: 190px; }
  #calculator-section .desc-text {
    text-align: center;
    color: #64842c;
    font-size: 18px;
    margin-bottom: 58px; }
  #calculator-section .input-field-group {
    width: 100%;
    height: 70px;
    margin-bottom: 20px; }

.dropdown {
  margin-right: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  height: 36px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #65aa4f;
  border: solid 1px #9ca799; }

.dropdown:after {
  top: 50%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100; }

.dropdown:hover {
  border: solid 1px #65aa4f; }

select {
  font-weight: lighter;
  padding: 6px 6px;
  color: #000000c2;
  border: none;
  box-shadow: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

select:focus {
  outline: none; }

.dropdown-small {
  width: 15%;
  float: right;
  margin-right: -2px; }
  .dropdown-small select {
    margin-left: -5px; }

.dropdown-small:after {
  left: 75%; }

.width-20 {
  width: 19%; }

.width-80 {
  width: 80%;
  padding-left: 15px; }

.button-add-device {
  margin-top: 32px;
  height: 31px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  background-color: #748827;
  border: solid 1px #d6d6d6; }

input {
  margin-top: 10px;
  height: 36px;
  border: solid 1px #9ca799;
  border-radius: 3px; }

input:focus {
  border: solid 1px #65aa4f;
  outline: none; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn-calculate {
  margin-top: 80px;
  height: 35px;
  border-radius: 3px;
  background-color: #65aa4f;
  border: solid 1px #65aa4f;
  color: #ffffff; }

#calculator-result-section {
  padding-top: 158px;
  padding-bottom: 200px; }
  #calculator-result-section .green-text {
    text-align: center;
    color: #64842c;
    color: #65aa4f;
    font-size: 32px;
    margin-top: 10px; }
  #calculator-result-section .grey-text {
    text-align: center;
    color: #757575;
    font-size: 20px;
    margin-top: 10px; }
  #calculator-result-section .margin-top-100 {
    margin-top: 100px; }
  #calculator-result-section .margin-top-50 {
    margin-top: 50px; }
  #calculator-result-section .margin-top-80 {
    margin-top: 80px; }

.renewable-product-options {
  width: 60%;
  margin-left: 20%;
  margin-top: 50px; }
  .renewable-product-options .product-option {
    float: left;
    width: 30%; }
    .renewable-product-options .product-option .border-outline {
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px rgba(151, 151, 151, 0.5);
      padding-bottom: 60px;
      padding-top: 60px; }
  .renewable-product-options .product-center {
    margin-left: 5%; }
  .renewable-product-options .product-right {
    float: right; }
  .renewable-product-options .product-img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 200px; }
  .renewable-product-options .product-name {
    color: #1f1f1fea;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 10px; }
  .renewable-product-options .product-price {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7e7e7e;
    font-size: 16px;
    padding-left: 0px; }
  .renewable-product-options .product-rating {
    padding-left: 0px;
    color: #f5a623; }
    .renewable-product-options .product-rating i {
      margin-right: 3px; }
    .renewable-product-options .product-rating .color-grey {
      color: rgba(155, 155, 155, 0.4); }

.product-group {
  width: 42%;
  margin-left: 29%;
  margin-top: 25px;
  padding-bottom: 61px; }
  .product-group .left-product, .product-group .right-product {
    cursor: pointer;
    width: 47.5%;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px rgba(151, 151, 151, 0.54); }
  .product-group .left-product {
    float: left; }
  .product-group .right-product {
    float: right; }
  .product-group .product-img {
    object-fit: contain;
    width: 68%;
    height: 150px;
    margin-top: 20px;
    padding-left: 32px; }
  .product-group .product-details {
    padding-left: 15px;
    margin-top: 20px; }
    .product-group .product-details .product-name {
      color: #637381;
      font-size: 16px;
      font-weight: 500; }
    .product-group .product-details .product-desc {
      font-size: 11px;
      margin-top: 7px;
      line-height: 1.33;
      color: rgba(99, 115, 129, 0.63); }
    .product-group .product-details .product-price-seller {
      color: #64a10c;
      font-size: 13px;
      margin-top: 10px; }
      .product-group .product-details .product-price-seller span {
        color: rgba(99, 115, 129, 0.63);
        margin-left: 10px;
        font-size: 12px; }

#device-list {
  margin-top: 30px;
  width: 100%;
  background: #000000;
  display: none; }
  #device-list .device {
    float: left;
    width: 49%;
    border-radius: 5px;
    border: solid 1px #64842c;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #6e6e6e;
    font-size: 14px;
    margin-top: 10px; }
  #device-list .device-right {
    float: right; }

.box-add-device {
  margin-top: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 10px;
  background-color: rgba(216, 216, 216, 0.48);
  display: none; }
  .box-add-device .box-content {
    width: 90%;
    margin-left: 5%;
    color: #313131;
    font-size: 14px; }
    .box-add-device .box-content .text-field-label {
      padding-left: 0px;
      margin-top: 20px; }

@media screen and (max-width: 1450px) {
  #calculator-section {
    width: 32%;
    margin-left: 34%; }

  #calculator-result-section .product-group {
    width: 50%;
    margin-left: 25%; } }
@media screen and (max-width: 1350px) {
  #calculator-section {
    width: 40%;
    margin-left: 30%; }

  #calculator-result-section .product-group {
    width: 60%;
    margin-left: 20%; } }
@media screen and (max-width: 1200px) {
  #calculator-section {
    width: 50%;
    margin-left: 25%; }

  #calculator-result-section .product-group {
    width: 70%;
    margin-left: 15%; } }
@media screen and (max-width: 1000px) {
  #calculator-section {
    width: 60%;
    margin-left: 20%; }

  #calculator-result-section .product-group {
    width: 80%;
    margin-left: 10%; }

  .renewable-product-options {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px; }
    .renewable-product-options .product-name {
      font-size: 17px; } }
@media screen and (max-width: 800px) {
  #calculator-section {
    width: 76%;
    margin-left: 12%; }

  #calculator-result-section .product-group {
    width: 80%;
    margin-left: 10%; } }
@media screen and (max-width: 680px) {
  #calculator-result-section .product-group {
    width: 90%;
    margin-left: 5%; }
  #calculator-result-section .left-product, #calculator-result-section .right-product {
    width: 60%;
    float: left;
    margin-bottom: 20px;
    margin-left: 20%; }

  .renewable-product-options {
    width: 100%;
    margin-left: 0%;
    margin-top: 50px; }
    .renewable-product-options .product-option {
      width: 60%;
      margin-left: 20%;
      margin-bottom: 50px; }
    .renewable-product-options .product-right {
      float: left; }
    .renewable-product-options .product-name {
      font-size: 18px; } }
@media screen and (max-width: 500px) {
  #calculator-section {
    width: 100%;
    margin-left: 0%; }

  .dropdown-small {
    width: 20%;
    float: right;
    margin-right: 2px; }

  #calculator-result-section .product-group {
    width: 90%;
    margin-left: 5%; }
  #calculator-result-section .left-product, #calculator-result-section .right-product {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-left: 0%; }

  .renewable-product-options {
    width: 100%;
    margin-left: 0%;
    margin-top: 50px; }
    .renewable-product-options .product-option {
      width: 80%;
      margin-left: 10%; }

  .width-20 {
    width: 28%; }

  .width-80 {
    width: 69%; }

  #device-list .device {
    font-size: 12px; } }
@media screen and (max-width: 460px) {
  #calculator-result-section .product-group {
    width: 100%;
    margin-left: 0%; }
  #calculator-result-section .left-product, #calculator-result-section .right-product {
    width: 100%;
    float: left;
    margin-bottom: 20px; } }

/*# sourceMappingURL=calculator.css.map */
