@font-face {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  src: url("/fonts/IBMPlexSans-Regular.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 300;
  src: url("/fonts/IBMPlexSans-Light.ttf"); }
@font-face {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  src: url("/fonts/IBMPlexSans-Medium.ttf"); }
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url("/fonts/HelveticaNeue-Medium.ttf"); }
@font-face {
  font-family: 'BebasNeue';
  font-weight: normal;
  src: url("/fonts/BebasNeue-Regular.ttf"); }
body {
  font-family: 'IBMPlexSans';
  font-weight: normal;
  color: black;
  /* overflow: hidden; */ }

#hero-section {
  width: 100%;
  height: 636px;
  color: white; }
  #hero-section .hero-image {
    width: 100%;
    height: 636px;
    object-fit: cover;
    object-position: center; }
  #hero-section .hero-big-text {
    font-size: 68px;
    margin-top: 170px;
    font-family: 'IBMPlexSans';
    font-weight: normal; }
  #hero-section .hero-small-text {
    font-size: 27px;
    margin-top: 8px;
    padding-left: 0px; }
  #hero-section .thin-vertical-line {
    width: 1px;
    height: 89px;
    border: solid 1px #ffffff;
    margin-left: -10px;
    margin-top: 135px; }

#contact-section {
  padding-top: 166px;
  padding-left: 55px;
  padding-bottom: 144px; }
  #contact-section .text-contact-us {
    font-size: 22px;
    font-weight: normal;
    color: #65aa4f;
    padding-left: 0px;
    margin-bottom: 80px; }
  #contact-section .right-section {
    padding-left: 120px;
    padding-top: 100px; }
    #contact-section .right-section .contact, #contact-section .right-section a {
      text-decoration: none;
      outline: none;
      font-size: 22px;
      font-weight: 300;
      color: #6e6e6ef6;
      margin-bottom: 30px; }
      #contact-section .right-section .contact .fa, #contact-section .right-section a .fa {
        margin-right: 31px;
        color: black; }
  #contact-section .width-100 {
    width: 100%; }
  #contact-section form .text {
    font-size: 18px;
    font-weight: normal;
    color: #313131;
    padding-left: 0px; }
  #contact-section form .text-field {
    margin-top: 10px;
    margin-bottom: 34.4px;
    height: 47.6px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    -webkit-appearance: none; }
  #contact-section form .text-field:focus {
    outline: none; }
  #contact-section form textarea {
    margin-top: 10px;
    height: 177px;
    border-radius: 2px;
    border: solid 1px #d6d6d6;
    padding-top: 15px;
    -webkit-appearance: none; }
  #contact-section form textarea::placeholder, #contact-section form input::placeholder {
    font-size: 14px;
    color: #93979f; }
  #contact-section form textarea:focus, #contact-section form input:focus {
    outline: none; }
  #contact-section form input[type=number]::-webkit-inner-spin-button, #contact-section form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

#footer {
  padding-top: 73px;
  padding-bottom: 40px;
  background-color: #64842c;
  color: #ffffff;
  letter-spacing: 0.8px; }
  #footer .link {
    cursor: pointer; }
  #footer .text-bold {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase; }
  #footer .text-light {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px; }
  #footer a {
    text-decoration: none;
    outline: none;
    color: white; }
  #footer .text-copyright {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    margin-top: 90px; }
  #footer .footer-column {
    margin-bottom: 40px; }

@media screen and (max-width: 1500px) {
  #contact-section {
    padding-left: 0px; }
    #contact-section .right-section {
      padding-left: 70px; }
    #contact-section .width-100 {
      width: 105%; }

  .left-section {
    margin-left: -20px; }

  .name-input-field {
    width: 92%; } }
@media screen and (max-width: 1300px) {
  #contact-section form .text {
    font-size: 16px; }
  #contact-section .width-100 {
    width: 110%; }
  #contact-section .right-section {
    padding-left: 40px; } }
@media screen and (max-width: 1200px) {
  #contact-section .width-100 {
    width: 90%; }
  #contact-section .right-section {
    padding-left: 40px; }
    #contact-section .right-section .contact, #contact-section .right-section a {
      font-size: 18px; } }
@media screen and (max-width: 991px) {
  #contact-section .width-100 {
    width: 91%; }
  #contact-section .right-section {
    margin-top: 150px;
    padding-left: 0px; } }
@media screen and (max-width: 768px) {
  #contact-section {
    padding-left: 10px; }
    #contact-section .width-100 {
      width: 91%; } }
@media screen and (max-width: 767px) {
  #contact-section {
    padding-left: 10px; }
    #contact-section .width-100 {
      width: 100%; }

  .name-input-field {
    width: 99%; } }
@media screen and (max-width: 360px) {
  #contact-section {
    padding-left: 5px; }
    #contact-section .right-section .contact, #contact-section .right-section a {
      font-size: 16px; }
      #contact-section .right-section .contact .fa, #contact-section .right-section a .fa {
        margin-right: 20px; } }

/*# sourceMappingURL=contact.css.map */
