@font-face {
    font-family: 'IBMPlexSans';
    font-weight: normal;
    src: url('/fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 500;
    src: url('/fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
    font-family: 'IBMPlexSans';
    font-weight: 300;
    src: url('/fonts/IBMPlexSans-Light.ttf');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 500;
    src: url('/fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-weight: 200;
    src: url('/fonts/HelveticaNeue\ Light.ttf');
}


body{
    font-family: 'IBMPlexSans';
    font-weight: normal;
    color: black;
    /* overflow: hidden; */
}

#calculator-section{
    padding-top: 119px;
    width: 28%;
    margin-left: 36%;
    padding-bottom: 190px;

    .desc-text{
        text-align: center;
        // background: gray;
        color: #64842c;
        font-size: 18px;
        margin-bottom: 58px;
    }

    .input-field-group{
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        // background: orange;
    }
}

.dropdown {
    margin-right: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    // width: 100%;
    height: 36px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #65aa4f;  
    border: solid 1px #9ca799;         
}

.dropdown:after {
    top: 50%;
    left: 93%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.dropdown:hover{
    border: solid 1px #65aa4f;     
}

select {
    font-weight: lighter;
    padding: 6px 6px;
    // margin-left: -10px;
    // width: 130%;
    color: #000000c2;
    border: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none; 
}

select:focus {  
    outline: none;
}

.dropdown-small{
    width: 15%;
    float: right;
    margin-right: -2px;

    select {
        margin-left: -5px;
    }
}

.dropdown-small:after {
    left: 75%;
}

.width-20{
    width: 19%;
}

.width-80{
    width: 80%;
}

.button-add-device{
    margin-top: 32px;
    // margin-bottom: 32px;
    height: 31px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    background-color: #748827;
    border: solid 1px #d6d6d6;
  
}

input{
    margin-top: 10px;
    height: 36px;
    border: solid 1px #9ca799;  
    border-radius: 3px;
}

input:focus{
    border: solid 1px #65aa4f;       
    outline: none;
    
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.btn-calculate{
    margin-top: 80px;
    height: 35px;
    border-radius: 3px;
    background-color: #65aa4f;
    border: solid 1px #65aa4f;
    color: #ffffff;
}

#calculator-result-section{
    padding-top: 158px;
    padding-bottom: 200px;
 

    .green-text{
        text-align: center;
        color: #64842c;
        color: #65aa4f;
        font-size: 32px;
        margin-top: 10px;
    }

    .grey-text{
        text-align: center;
        color: #757575;
        font-size: 20px;
        margin-top: 10px;
    }

    .margin-top-100{
        margin-top: 100px;
    }

    .margin-top-50{
        margin-top: 50px;
    }

    .margin-top-80{
        margin-top: 80px;
    }
}

.renewable-product-options{
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;

    .product-option{
        float: left;
        width: 30%;

        .border-outline{
            cursor: pointer;
            width: 100%;
            border-radius: 5px;
            background-color: #ffffff;
            border: solid 1px rgba(151, 151, 151, 0.5);
            padding-bottom: 60px;
            padding-top: 60px;
        }
        
    }

    .product-center{
        // float: none;
        // margin: 0 auto
        margin-left: 5%;
    }

    .product-right{
        float: right;
    }

    .product-img{
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 200px;
    }

    .product-name{
        // color: #637381;
        color: #1f1f1fea;
        font-size: 18px;
        padding-left: 0px;
        margin-top: 10px;
    }

    .product-price{
        margin-top: 10px;
        margin-bottom: 10px;
        color: #7e7e7e;
        font-size: 16px;
        padding-left: 0px;
    }

    .product-rating{
        padding-left: 0px;
        color: #f5a623;

        i{
            margin-right: 3px;
        }

        .color-grey{
            color: rgba(155, 155, 155, 0.4);
        }
       
    }

}

.product-group{
    width: 42%;
    margin-left: 29%;
    margin-top: 25px;
    padding-bottom: 61px;

    .left-product, .right-product{
        cursor: pointer;
        width: 47.5%;
        // height: 233px;
        padding-bottom: 20px;
        border-radius: 5px;
        background-color: #ffffff;
        border: solid 1px rgba(151, 151, 151, 0.54);
    }

    .left-product{
        float: left;
    }

    .right-product{
        float: right;
    }

    .product-img{
        object-fit: contain;
        width: 68%;
        height: 150px;
        margin-top: 20px;
        padding-left: 32px;
    }

    .product-details{
        padding-left: 15px;
        margin-top: 20px;

        .product-name{
            color: #637381;
            font-size: 16px;
            font-weight: 500;
        }

        .product-desc{
            font-size: 11px;
            margin-top: 7px;
            line-height: 1.33;
            color: rgba(99, 115, 129, 0.63);
        }

        .product-price-seller{
            color: #64a10c;
            font-size: 13px;
            margin-top: 10px;

            span{
                color: rgba(99, 115, 129, 0.63);
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }
}

#device-list{
    margin-top: 30px;
    width: 100%;
    background: #000000;
    // height: 200px;;
    display: none;

    .device{
        float: left;
        width: 49%;
        border-radius: 5px;
        border: solid 1px #64842c;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: #6e6e6e;
        font-size: 14px;
        margin-top: 10px;
    }

    .device-right{
        float: right;
    }
}

.box-add-device{
    margin-top: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 10px;
    background-color: rgba(216, 216, 216, 0.48);
    display: none;

    .box-content{
        width: 90%;
        margin-left: 5%;
        color: #313131;
        font-size: 14px;

        .text-field-label{
            padding-left: 0px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 1450px){
    #calculator-section{
        width: 32%;
        margin-left: 34%;
    }

    #calculator-result-section{
        .product-group{
            width: 50%;
            margin-left: 25%;
        }
    }
}

@media screen and (max-width: 1350px){
    #calculator-section{
        width: 40%;
        margin-left: 30%;
    }

    #calculator-result-section{
        .product-group{
            width: 60%;
            margin-left: 20%;
        }
    }
}

@media screen and (max-width: 1200px){
    #calculator-section{
        width: 50%;
        margin-left: 25%;
    }

    #calculator-result-section{
        .product-group{
            width: 70%;
            margin-left: 15%;
        }
    }
}


@media screen and (max-width: 1000px){
    #calculator-section{
        width: 60%;
        margin-left: 20%;
    }

    #calculator-result-section{
        .product-group{
            width: 80%;
            margin-left: 10%;
        }
    }

    .renewable-product-options{
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;

        .product-name{
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 800px){
    #calculator-section{
        width: 76%;
        margin-left: 12%;
    }

    #calculator-result-section{
        .product-group{
            width: 80%;
            margin-left: 10%;
        }
    }
}

@media screen and (max-width: 680px){
    #calculator-result-section{
        .product-group{
            width: 90%;
            margin-left: 5%;
        }

        .left-product, .right-product{
            width: 60%;
            // height: 233px;
            float: left;
            margin-bottom: 20px;
            margin-left: 20%;
        }
    }

    .renewable-product-options{
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;

        .product-option{
            width: 60%;
            margin-left: 20%;
            margin-bottom: 50px;
        }

        .product-right{
            float: left;
        }

        .product-name{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 500px){
    #calculator-section{
        width: 100%;
        margin-left: 0%;
    }

    .dropdown-small{
        width: 20%;
        float: right;
        margin-right: 2px;
    }

    #calculator-result-section{
        .product-group{
            width: 90%;
            margin-left: 5%;
        }

        .left-product, .right-product{
            width: 100%;
            // height: 233px;
            float: left;
            margin-bottom: 20px;
            margin-left: 0%;
        }
    }

    .renewable-product-options{
        width: 100%;
        margin-left: 0%;
        margin-top: 50px;

        .product-option{
            width: 80%;
            margin-left: 10%;
        }
        
    }

    .width-20{
        width: 28%;
    }
    
    .width-80{
        width: 69%;
    }

    #device-list{
    
        .device{
           font-size: 12px;
        }

    }
    

}

@media screen and (max-width: 460px){
   
    #calculator-result-section{
        .product-group{
            width: 100%;
            margin-left: 0%;
        }

        .left-product, .right-product{
            width: 100%;
            // height: 233px;
            float: left;
            margin-bottom: 20px;
        }
    }
}

