<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <div class="col-sm-4 footer-column">
    <div class="col-sm-12 text-bold">COMPANY</div>
    <div class="col-sm-12 link text-light">About</div>
    <div class="col-sm-12 link text-light">FAQ</div>
    <div class="col-sm-12 link text-light">Blog</div>
  </div>
  <div class="col-sm-4 footer-column">
    <div class="col-sm-12 text-bold">Business</div>
    <div class="col-sm-12 link text-light">Calculator</div>
    <div class="col-sm-12 link text-light">Products</div>
    <div class="col-sm-12 link text-light">Partnership</div>
  </div>
  <div class="col-sm-4 footer-column">
    <div class="col-sm-12 text-bold">Contact Us</div>
    <div class="col-sm-12 link text-light">20, Marina, Lagos State</div>
    <div class="col-sm-12 link text-light">0700-IMPERIUM</div>
    <div class="col-sm-12 link text-light"><a href="mailto:Imperiumng@sterlinbankng.com" target="_top">Imperiumng@sterlinbankng.com</a></div>
  </div>
  <div class="col-sm-12 text-copyright">© Copyright 2018 | Privacy Policy</div>
</div>