<div class="overlay-content">
    <a href="#/" onclick="goToSection('login')">Login</a>
    <br>
    <a href="#/" onclick="goToSection('faqs')">FAQs</a>
    <br>
    <a href="#/" onclick="goToSection('blog')">Blog</a>
    <br>
    <a href="#/" onclick="goToSection('about')">About</a>
    <br>
    <a href="#/" onclick="goToSection('contact')">Contact</a>
    <br>
    <a href="#/" onclick="goToSection('calculator')">Energy Calculator</a>
    <br>
    <a href="#/" onclick="goToSection('solution-providers')">Solution Provider</a>
  </div>