 <!-- <div class="nav-left col-sm-12" onclick="goToSection('home')"><span>Imperium</span></div> -->
 <div class="nav-left col-sm-12">
    <img src="img/Imperium logo without payoff.png" alt="Imperium logo" class="logo" onclick="goToSection('home')">
  </div>
  <div class="nav-right col-sm-12">
    <span class="hidden-xs outline">Energy Calculator</span>
    <span class="hidden-xs" onclick="goToSection('solution-providers')">Solution Provider</span>
    <span class="hidden-xs" onclick="goToSection('blog')">About</span>
    <span class="hidden-xs" onclick="goToSection('blog')">Blog</span>
    <span class="hidden-xs" onclick="goToSection('blog')">Contact</span>
    <span class="hidden-xs" onclick="goToSection('blog')">FAQs</span>
    <span class="hidden-xs" onclick="goToSection('login')">Login</span>
    <!-- Sign-Up -->
    <div id="menu-icon" class="hidden-sm hidden-md hidden-lg" onclick="menuIconClick(this)">
      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>
    </div>
  </div>